.card, .package-card{
    min-height : 300px;
    width: 100%;
    border-radius : 20px;
    background-color: #fff;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 15%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    padding-top: 20px;
}
.card-upper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.card-image{
    max-width: 500px;
    margin: 0 20px;
}

.card-image img{
    width: 100%;
    margin-right: 10px;
    border-radius : 20px;
}

.card-desc{
    width: 80%;
}

.card-buttons{
    display : flex;
    margin: 15px !important;
}
.card-buttons button{
    margin: 5px;
}


.thcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #4E4787;
    border-radius: 20px;
    color: #fff;
}

.thtitle{
    padding: 10px;
}

.thdesc{
    padding: 10px;
    margin-top: 10px;
    width: 80%;
}

.thcard-icon{
    padding: 10px;
    background-color: #D2CFE9;
    border-radius: 20px;
    margin-top: 20px;
}

.package-card{
    background-color : white;
    align-items: center;
    min-height: 400px;
}

.package-card div{
    margin: 10px;
    padding: 10px;
}

.price{
    color : #F1A741;
}


.small-card{
    width: 100%;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 15%);
    padding:  20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 80px;
}

.small-card-text{
    font-size :  1.1rem;
    margin-left: 10px;
}

.team-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    padding: 50px;
}

.team-card-upper{
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.team-card-upper-left{
    width: 50%;

}

.team-button{
    width: 50%;
    display: block;
    margin:auto
}

.team-image{
    max-width: 400px;
    display: block;
    margin:auto;
    margin-bottom: 30px;

}

.team-card-lower{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:flex-start;
    width: 85%;
}

.team-keys{
    flex: 1 0 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
}

.team-tick{
    margin-right: 10px; 
    background-color : #DFECDB;
    border-radius: 50%;
}

.team-keypoints{
    width: 90%;
}

.team-member-name{
    font-size :  1.8rem;
    line-height : 2rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.team-member-designation{
    font-size :  1.4rem;
    line-height: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.team-member-intro{
    text-align: justify;
    margin-bottom: 15px;
    width: 90%;
}


@media only screen and (max-width: 768px) {
    .card-desc{
        width: 100%;
    }
    .small-card{
        margin-bottom: 20px;
    }
    .team-card-upper{
        flex-direction: column;
    }
    .team-card-upper-left{
        width: 100%;
        margin: 20px !important;
    }
    .team-card-lower{
        width: 100% !important;
    }
    .team-keys{
        flex: 1 1 100%;
        padding-left:  0px !important;
        padding-right: 0px !important;
    }

}