.contact-page{
    margin-top :  120px;
    overflow-x: hidden !important;
}

.contact-form-container,.pricing-estimate-container{
    width: 100%;
    background-color: #423A7B;
    padding: 100px;
    display: flex;
    justify-content: space-around;
}

.pricing-estimate-container{
    margin: auto;
    width: 95%;
    margin-bottom: 40px;
}

.contact-form-container-left,.contact-form-container-right{
    width: 50%;
}


.scheduling{
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
}

.contact-image{
    width: 90%;
    margin-bottom: 20px;
}

.contact-highlights{
    padding : 50px 150px 50px 150px;
}


.contact-form{
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    margin-left: 10px;
}


.contact-form .form-control{
    border: none !important;
    border-bottom: 2px solid #423A7B !important;
    border-radius: 0px !important;
    padding: 2px !important;
}

.contact-form .form-control:focus{
    box-shadow: none !important;
}

.pricing-estimate-left{
    width: 40%;
}

.pricing-estimate-right{
    width: 58%;
}


.pricing-estimate{
    background-color:  #72C861;
    padding: 20px;
    min-height :  100px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}


.pricing-estimate div:nth-child(1){
    font-size: .8rem;
    font-weight: bold;
    margin-bottom :  10px;
    color : #ffffff;
}

.pricing-estimate div:nth-child(2){
    font-size : 1.8rem;
    color : #ffffff;
    font-weight : bold;
}


@media only screen and (max-width: 768px) {
    .contact-highlights{
        padding :30px
    }
    .contact-form-container, .pricing-estimate-container{
        flex-direction: column;
        padding: 40px 20px;
    }
    
    .contact-form-container-left,.contact-form-container-right{
        width: 100%;
    }
    .contact-form{
        margin-left: 0px;
        margin-top: 40px;
        padding: 30px;
    }
    .pricing-estimate-left{
        width: 100%;
    }
    
    .pricing-estimate-right{
        width: 100%;
    }
}