.feature-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 40px 90px 40px 90px;
    margin-top: 10px;
}

.feature-info , .feature-details{
    display: flex;
    flex-direction: column !important;
}


.feature-info{
    width: 40%;
    height: max-content;
}

.feature-details{
    width: 56%;
}

.feature-title-text{
    font-size: 3rem;
    font-weight: bold;
}

.feature-desc-text{
    width: 90%;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 30px;
}

.hosting-image{
    width: 95%;
}

.feature-main-content{
    padding: 0 30px;
    position: relative;
    bottom: 15px;
    background: #fff;
    margin-top: 15px;
    padding: 20px;
}

.feature-main-heading{
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .feature-container{
        flex-direction: column;
        padding: 20px;
    }
    .feature-info{
        width: 100%;
    }
    .feature-details{
        width: 100%;
    }
    .hosting-image{
        margin-bottom: 20px;
    }
}